[submodule "MultipleARAppsMetaApp"]
	path = MultipleARAppsMetaApp
	url = https://github.com/madhusudan-saha/multiple-ar-apps-meta-app.git
[submodule "AugmentedImagePlugin"]
	path = AugmentedImagePlugin
	url = https://github.com/madhusudan-saha/multiple-ar-apps-augmented-image-plugin.git
[submodule "RoomPlannerPlugin"]
	path = RoomPlannerPlugin
	url = https://github.com/madhusudan-saha/multiple-ar-apps-room-planner-plugin.git
[submodule "BookReviewPlugin"]
	path = BookReviewPlugin
	url = https://github.com/Partiks/parth_book_review_plugin.git
